@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hsl: 210, 46%, 95%;
}


body {
  color: rgb(var(--foreground-rgb));
  background: hsl(var(--background-hsl));
  font-size:13px;
}
